<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - No Access</title>
    <link href="register_style.css" type="text/css" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <div class="row row-space">
                    <div class="col-2">
                        <div>
                            <h5 class="mb-0">You do not have access to this page :(</h5>
                        </div>
                        <form th:action="@{/logout}" method="post">
                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Sign Out</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>